// * {
//   box-sizing: border-box;
// }

// body {
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
//     'Open Sans', 'Helvetica Neue', sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   font-size: 1em;
//   line-height: 1.5;
//   color: #333333;
//   margin: 0;
//   background-color: #f2f2f2;
// }

// a {
//   text-decoration: none;
//   color: #333333;
// }

// p {
//   margin: 0;
// }

// .search-container {
//   width: 100%;
//   padding-top: 10px;
//   padding-bottom: 10px;
//   position: fixed;
//   background-color: #d9d9d9;
//   z-index: 1;
// }

// .search-form {
//   width: 100%;
//   display: flex;
//   justify-content: center;
// }

// .search-form input {
//   width: 20%;
//   border-radius: 4px 0 0 4px;
//   border: none;
//   outline: none;
//   background-color: #f9f9f9;
//   padding: 8px 10px;
//   font: inherit;
//   color: #333333;
// }

// .search-form input:hover,
// .search-form input:focus {
//   background-color: #ffffff;
//   border: 1px solid #cccccc;
//   transition: all 0.3s;
// }

// .search-form button {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 2.5em;
//   border: none;
//   background-color: #3b7dbd;
//   border-radius: 0 4px 4px 0;
//   cursor: pointer;
//   color: #ffffff;
// }

// .search-form button:hover,
// .search-form button:focus {
//   background-color: #326a9e;
//   transition: all 0.3s;
// }

// .gallery-container {
//   padding-left: 15px;
//   padding-right: 15px;
//   padding-bottom: 25px;

//   @media screen and (min-width: 480px) {
//     width: 480px;
//     margin-left: auto;
//     margin-right: auto;
//   }

//   @media screen and (min-width: 768px) {
//     width: 768px;
//   }

//   @media screen and (min-width: 1200px) {
//     width: 1200px;
//   }

//   @media screen and (min-width: 1440px) {
//     width: 1440px;
//   }
// }

// .gallery,
// .info {
//   display: flex;
//   flex-wrap: wrap;
// }

// .gallery {
//   margin-left: -20px;
//   padding-top: 60px;
//   justify-content: center;
// }

// .gallery__link {
//   margin-top: 20px;
//   margin-left: 20px;
//   min-width: 320px;
//   flex-basis: calc((100% - 80px) / 4);
//   border: 1px solid #666666;
//   border-radius: 5px;
//   overflow: hidden;
//   transition: all 0.3s;
//   background-color: #f5f5f5;
// }

// .gallery__link:hover,
// .gallery__link:focus {
//   transform: scale(1.05);
// }

// .gallery-item {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-evenly;
// }




// .gallery-item {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-evenly;
// }

// .gallery-item__img {
//   display: block;
//   height: 300 px;
//   object-fit: cover;
// }

// .info {
//   padding: 10px;
//   justify-content: space-around;
// }

// .info-item {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   color:rgb(43, 41, 41);
// }

// .info-item:not(:first-child) {
//   margin-left: 5px;
// }

// .btn-load-more.is-hidden {
//   display: none;
// }

// .btn-load-more {
//   display: block;
//   margin: 25px auto 0 auto;
//   padding: 8px 20px;
//   border: none;
//   border-radius: 5px;
//   background-color:  rgb(202, 207, 207);
//   box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
//   font: inherit;
//   color: rgb(43, 41, 41);
//   cursor: pointer;
// }

// .btn-to-top {
//   position: fixed;
//   bottom: 3vh;
//   right: 1vw;
//   z-index: 1000;
//   width: 50px;
//   height: 50px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   border-radius: 50%;
//   background:  rgb(202, 207, 207);
//   box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
//   color: rgb(43, 41, 41);
//   cursor: pointer;
//   opacity: 0;
//   visibility: hidden;
// }

// .btn-to-top--visible {
//   opacity: 1;
//   visibility: visible;
// }

// .btn-load-more:hover,
// .btn-to-top:hover {
//   background-color: #fdf7f7;
//   transition: all 0.3s;
// }

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
  margin: 0;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #333333;
}

p {
  margin: 0;
}

.search-container {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  background-color: #b3b3b3;
  z-index: 1;
}

.search-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-form input {
  width: 20%;
  border-radius: 4px 0 0 4px;
  border: none;
  outline: none;
  background-color: #ffffff;
  padding: 8px 10px;
  font: inherit;
  color: #333333;
}

.search-form input:hover,
.search-form input:focus {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  transition: all 0.3s;
}

.search-form button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  border: none;
  background-color: #f93f3f;
  border-radius: 0 4px 4px;
  cursor: pointer;
  color: #ffffff;
  }
  
  .search-form button:hover,
  .search-form button:focus {
  background-color: #ff5c5c;
  transition: all 0.3s;
  }
  
  .gallery-container {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px;
  
  @media screen and (min-width: 480px) {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  }
  
  @media screen and (min-width: 768px) {
  width: 768px;
  }
  
  @media screen and (min-width: 1200px) {
  width: 1200px;
  }
  
    }
  
  .gallery,
  .info {
  display: flex;
  flex-wrap: wrap;
  }
  
  .gallery {
  margin-left: -20px;
  padding-top: 60px;
  justify-content: center;
  }
  
  .gallery__link {
  margin-top: 20px;
  margin-left: 20px;
  min-width: 320px;
  flex-basis: calc((100% - 80px) / 4);
  border: 1px solid #999999;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s;
  background-color: #f5f5f5;
  }
  
  .gallery__link:hover,
  .gallery__link:focus {
  transform: scale(1.05);
  }
  
  .gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  }
  
  .gallery-item__img {
  display: block;
  height: 300 px;
  object-fit: cover;
  }
  
  .info {
  padding: 10px;
  justify-content: space-around;
  }
  
  .info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333333;
  }
  
  .info-item:not(:first-child) {
  margin-left: 5px;
  }
  
  .btn-load-more.is-hidden {
  display: none;
  }
  
  .btn-load-more {
  display: block;
  margin: 25px auto 0 auto;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  background-color: #cad3d3;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  font: inherit;
  color: #333333;
  cursor: pointer;
  }
  
  .btn-to-top {
  position: fixed;
  bottom: 300px;
  right: 1vw;
  z-index: 1000;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #f93f3f;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  color: #333333;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  }
  
  .btn-to-top--visible {
  opacity: 1;
  visibility: visible;
  }
  
  .btn-load-more:hover,
  .btn-to-top:hover {
    background-color: #fdf7f7;
    transition: all 0.3s;
  }